<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStreamContract" transferMode="Streamed"
                 maxReceivedMessageSize="1000000000"
                 maxBufferSize="8192" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="PhoneContract" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10001/RSI_WCF_App/PhoneContract"
                binding="wsDualHttpBinding" bindingConfiguration="PhoneContract"
                contract="ServiceReference1.IPhoneContract" name="PhoneContract">
                <identity>
                    <userPrincipalName value="DESKTOP-VPF0587\krzys" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:10001/RSI_WCF_App_Stream/StreamContract"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStreamContract"
                contract="StreamServiceReference.IStreamContract" name="BasicHttpBinding_IStreamContract" />
        </client>
    </system.serviceModel>
</configuration>