<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Contract.PhoneContract" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/RSI_WCF_App"/>
          </baseAddresses>
        </host>
        <endpoint name="PhoneContract" address="/PhoneContract" binding="wsDualHttpBinding" contract="Contract.IPhoneContract"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>